<div class="container">
    <h2>Recarregar saldo</h2>

    <form action="/admin/recarregar-saldo" method="post">

    <div class="form-group">
    <label for="numConta">Nº Conta</label>
    <input class="form-control" type="text" name="conta" id="numConta">
    </div>

    <div class="form-group">
    <label for="valor">Valor: R$</label>
    <input class="form-control" type="text" name="valor" id="valor">
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Recarregar</button>
    </div>


    </form>
</div>