{{>nav-login}}

<main class="principal">

        <section class="form-login">
            <div class="container">

                <h2>Erros foram encontrados no seu cadastro:</h2>
 
                {{>_msg}}

                <button class="error-button-cad" onclick="history.back()">Corrigir erros</button>
                
            </div>


        </section>




</main>

{{>footer-login}}