{{>nav-login}}

<main class="principal">

        <section class="form-login">
            <div class="container">
 
                {{>_msg}}
                
            </div>
        </section>



</main>

{{>footer-login}}