@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap');

:root {
    --cor-principal: #2971B5;
    --cor-secundaria: #F19A3E;
    --cor-textos: #323031;
    --font-padrao: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    min-height: -webkit-fill-available;
}

body {
    width: 100%;
    height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--cor-principal);
    font-family: var(--font-padrao);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: auto;
    display: flex;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.form-image {
    width: 50%;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    width: 26rem;
}

.form-login {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 47.5px 69px 47.5px;
}

.form-login h1 {
    font-size: 2.5rem;
}

form {
    margin-top: 2.5rem;
    width: 85%;
    display: flex;
    flex-direction: column;
}

input[type='text'], input[type='password'] {
    width: 100%;
    height: 3rem;
    font-family: var(--font-padrao);
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    background-color: rgba(217, 217, 217, 0.36);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

input[type='submit'] {
    width: 100%;
    height: 3rem;
    color: #fff;
    font-family: var(--font-padrao);
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--cor-principal);
    border: 0;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

input[type='submit']:hover {
    cursor: pointer;
    background-color: #2668a5;
}

.form-login span a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--cor-textos);
}

.form-login span a:hover {
    color: var(--cor-principal);
}

.new-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.new-user h2 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.new-user button {
    width: 100%;
    height: 2.5rem;
    font-family: var(--font-padrao);
    padding: 5px;
    font-weight: 700;
    background-color: #fff;
    color: var(--cor-textos);
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1005px) {

    .form-image img {
        width: 22rem;
    }

    .form-login h1 {
        font-size: 2rem;
    }

    .new-user h2 {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .form-login {
        padding: 75px 17.5px 69px 17.5px;
    }

}

@media screen and (max-width: 854px) {
    .form-login h1 {
        font-size: 1.8rem;
    }

    .new-user h2 {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .form-login {
        padding: 75px 17.5px 69px 17.5px;
    }


}

@media screen and (max-width: 720px) {

    body{
        height: calc(100vh - var(--vh-offset, 0px));
    }

    .main{
        width: 90%;
    }

    .form-image {
        display: none;
    }

    .form-login {
        width: 100%;
    }
}