@media (min-width: 576px) {

    .user-nav-option{
        width: 40%;
        margin-bottom: 10px;
    }

    
}


@media (min-width: 768px) {
   .user-nav-option{
       width: 20%;
        margin-bottom: 10px;
    }
}


@media (min-width: 992px){
    .user-nav-option{
        width: 20%;

    }

}

@media (min-width: 1200px) {
    .user-nav-option{
        width: 20%;

    }
}

@media (max-width: 575.98px){
    .user-nav-option{
        width: 40%;

    }
}